@keyframes rgbFlow{
    0% { background-position: 0%; }
    100% { background-position: 400%; }
}

@keyframes rgbGlow {
    0% { background-position: 0% 50%; }
    100% { background-position: 400% 50%; }
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Press Start 2P', cursive;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("BG/GenericColoredBG.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#caixa{
    width: 650px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;

    background: linear-gradient(black, black) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

#input-tarefa{
    width: 40%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

#botao-adicionar{
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;

    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

#botao-limpar{
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;

    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

#titulo{
    text-align: center;
    margin-bottom: 50px;

    background: linear-gradient(270deg, red, orange, yellow, lime, cyan, blue, magenta, red);
    background-size: 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rgbFlow 10s linear infinite;
}

#contador{
    text-align: center;
    margin-bottom: 50px;

    background: linear-gradient(270deg, red, orange, yellow, lime, cyan, blue, magenta, red);
    background-size: 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rgbFlow 10s linear infinite;
}

.botao-remover{
    border: none;
    background-color: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;

    border: 2px solid transparent;
    border-radius: 5px;

    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

li{
    list-style: none;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid transparent;
    border-radius: 5px;

    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(270deg, red, yellow, lime, cyan, blue, magenta, red) border-box;
    background-size: 400% 400%;
    animation: rgbGlow 10s linear infinite;
}

#lista-tarefas{
    padding: 0;
}